.come{
    margin-top:45px;
    margin-left: 600px;
    background-color: rgb(146, 168, 168);
}
.come1{
    margin-top: 30px;
    margin-left: 383px;
    background-color: rgb(210, 210, 236);
}
.come2{
    margin-left: 290px;
    margin-top: 30px;
    background-color: rgb(192, 171, 211);
}
.come3{
    margin-top: 30px;
    margin-left: 440px;
    background-color: rgb(233, 202, 202);
}
.come4{
    margin-top: 30px;
    margin-left: 487px;
    background-color: rgb(178, 197, 158);
}
.come5{
    margin-top: 30px;
    margin-left: 527px;
    color: darkgoldenrod;
    background-color: rgb(240, 200, 172);
}
.come6{
    margin-top: 30px;
    margin-left: 581px;
    background-color: rgb(219, 189, 178);
}
.come7{
    margin-top: 30px;
    margin-left: 645px;
    background-color: rgb(149, 157, 170);
}
.come8{
    margin-top: 30px;
    margin-left: 607px;
    background-color: rgb(186, 224, 224);
}
.come9{
    margin-top: 30px;
    margin-left: 474px;
    background-color: rgb(241, 224, 179);
}
.come10{
    margin-top: 30px;
    margin-left: 535px;
    background-color: rgb(187, 233, 187);
}
.come11{
    margin-top: 30px;
    margin-left:460px;
    background-color: darkkhaki;
}
.come12{
    margin-top: 30px;
    margin-left:367px;
    background-color: rgb(183, 177, 224);
}
.come13{
    margin-top: 40px;
    margin-left: 800px;
    font-size: 40px;
    background-color: darksalmon;
}
.come14{
    margin-left: 30px;
    font-size:50px;
    color:tomato;
}
.come15{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come16{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come17{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come18{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come19{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come20{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come21{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come22{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come23{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come24{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come25{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}
.come26{
    margin-left: 30px;
    font-size: 50px;
    color: tomato;
}