.come1{
    margin-top: 20px;
    margin-left: 100px;
    color: indigo;
    background-color: rgb(236, 217, 204);
    border-color: rgb(236, 217, 204);
}
.come2{
    margin-top: 20px;
    margin-left: 40px;
    color: navy;
    background-color: rgb(225, 247, 204);
    border-color: rgb(225, 247, 204); ;
}
.come3{
    margin-top: 20px;
    margin-left: 300px;
    color:rgb(83, 156, 41);
    background-color: rgb(200, 200, 235);
    border-color: rgb(200, 200, 235);;
}
.come4{
    color: magenta;
}
.come5{
    color: slategrey;
}